<div class="jumbotron mt-5 bg-dark">
  <h2 class="heading text-light">
      Filtra noticias por palabra clave
  </h2>
  <div class="box">
      <div class="search-box">
          <form (ngSubmit)="buscarNoticiaPorPalabraClave()" [formGroup]="formulario">
                <div class="form-group">
                  <input class="form-control form-control-lg" type="text" name="palabraClave" formControlName="palabraClave" placeholder="Ingrese una palabra clave">
                </div>
                <button class="boton bg-dark" type="submit">
                  <img src="/assets/noticias-word-icon.png" alt="Buscar">
                </button>
          </form>
          
      </div>
  </div>
</div>