<div class="jumbotron mt-5 bg-dark">
    <h2 class="heading text-light">
        Filtra noticias por fecha
    </h2>
    <div>
        <form class="box" (ngSubmit)="buscarNoticiaPorFecha()" [formGroup]="formulario">
            <input class="form-control form-control-lg" type="text" name="fechaInicio" formControlName="fechaInicio" placeholder="Ingrese una fecha de inicio"  onfocus="this.type='date'"  onblur="this.type='text'">
            <input class="form-control form-control-lg"  type="text" name="fechaFinal" formControlName="fechaFinal" placeholder="Ingrese una fecha final"  onfocus="this.type='date'"  onblur="this.type='text'">

            <button class="boton bg-dark" type="submit">
                <img src="/assets/noticias-word-icon.png" alt="Buscar">
            </button>
        </form>
    </div>
</div>