<div class="jumbotron mt-5 bg-dark">
    <h2 class="heading text-light">
        Filtra noticias por fuente
    </h2>
    <div class="box">
        <div class="search-box">
            <form (ngSubmit)="buscarNoticiaPorFuente()" [formGroup]="formulario">
                  <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="fuente" formControlName="fuente" placeholder="Ingrese una fuente">
                  </div>
                  <button class="boton bg-dark" type="submit">
                    <img src="/assets/noticias-word-icon.png" alt="Buscar">
                  </button>
            </form>
            
        </div>
    </div>
</div>