<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let noticia of listadoNoticias">
    <div class="card">
      <img [src]="noticia.imagen" class="card-img-top" alt="..." />
      <div class="card-body bg-dark">
        <h5 class="card-title text-light">{{ noticia.titulo }}</h5>
        <p class="card-text text-light">{{ noticia.descripcion }}</p>
        <div class="autor-fecha ">
          <p class="card-author text-light">
            Autor: <strong>{{ noticia.autor }}</strong>
          </p>
          <p class="card-date text-light">
            Fecha: <strong>{{ noticia.fecha }}</strong>
          </p>
        </div>
      </div>
    </div>
    <a [href]="noticia.url" class="btn btn-primary btn-block" target="_blank"
      >Más información</a
    >
    <app-boton
      [textoActivo]="'Guardar'"
      [textoInactivo]="'Guardado'"
      (buttonClicked)="handleClick(noticia)"
      [claseBtnInactivo]="'btn btn-secondary btn-block'"
      [claseBtnActivo]="'btn btn-success btn-block'"
    ></app-boton>
  </div>
</div>
