<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">Sobre nosotros</h3>
          <p class="big">En NOTICIAS WORD, nuestro buscador de noticias, nos enorgullece ofrecer una plataforma que va más allá de la búsqueda convencional. Somos un equipo apasionado que se esfuerza por brindar acceso rápido y preciso a la información actualizada. Nuestra misión es facilitar el descubrimiento de noticias relevantes en un mundo donde la información fluye constantemente. ¡Bienvenido a una experiencia de búsqueda de noticias intuitiva y eficiente con NOTICIAS WORD!</p>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/why-choose-us.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">¿Por qué elegirnos?</h2>
                  <p class="card-text lead">Por ofrecer información integral de diversos segmentos como deportes, economía, negocios, entretenimiento, entre otros, y de diferentes países alrededor del mundo. Manténgase informado con nosotros en la vanguardia de la entrega de contenidos variados y globales</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="./assets/visionary-team.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Visión del equipo</h2>
                  <p class="card-text lead">En NOTICIAWORD, nuestra visión es transformar la forma en que se accede y consume información. Buscamos crear un espacio donde la diversidad de noticias se integre de manera accesible, ofreciendo una experiencia informativa única y completa.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>