<div class="jumbotron mt-5 bg-dark">
    <h2 class="heading text-light">
        Filtra noticias por pais
    </h2>
    <div class="box">
        <div class="search-box">
            <form (ngSubmit)="buscarNoticiaPorPais()">
                  <div class="form-group">
                    <select class="form-select form-select-lg" name="pais" [(ngModel)]="paisSeleccionado">
                      <option *ngFor="let pais of paises" [value]="pais.value" data-icon="br">
                          <span class="flag-icon flag-icon-ar"></span>
                          {{pais.nombre}}
                      </option>
                      
                    </select>
                  </div>
                  <button class="boton bg-dark" type="submit">
                    <img src="/assets/noticias-word-icon.png" alt="Buscar">
                  </button>
            </form>
            
        </div>
    </div>
</div>