.heading{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

.jumbotron{
  padding: 3rem;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.box{
  max-width: 40rem;
  width: 100%
}

.box .search-box{
  position: relative;
  height: 5rem;
  max-width: 38rem;
  margin: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.search-box .boton{
  position: absolute;
  right: -0.2rem;
  top: 0;
  width: 6rem;
  height: 100%;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;

}

.search-box .boton img{
  width: 50%;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}

.form-select{
  width: 85%;
  height: 4.9rem;
  border-radius: 0.5rem 0 0 0.5rem ;
}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

  a {
    text-decoration: none;
  }
  
  .select {
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    border-radius: 0.5rem 0 0 0.5rem ;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin-bottom: 30px;
    padding: 0.93rem;
    position: relative;
    z-index: 200;
    border: 2px solid transparent;
  }
  
  .select.active,
  .select:hover {
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.16);
  }
  
  .select.active:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid #213f8f;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
  }
  
  .select i {
    font-size: 30px;
    margin-left: 30px;
    color: #213f8f;
  }
  
  .titulo {
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
    font-size: 30px;
  }
  
  .opciones {
    position: absolute;
    background: #343a40;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.16);
    max-height: 400px;
    overflow: auto;
    z-index: 100;
    width: 100%;
    display: none;
  }

  .opciones h1{
    color: #fff;
  }
  
  
  .opciones.active {
    display: block;
    animation: fadeIn .3s forwards;
  }
  
  @keyframes fadeIn {
    from {
      transform: translateY(-200px) scale(.5);
    }
    to {
      transform: translateY(0) scale(1);
    }
  }

  .select .contenido img{
    width: 4.5rem;
    height: 2.8rem;
  }
  
  .contenido{
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease all;
  }
  
  .opciones .contenido{
    padding: 30px;
  }
  
  .contenido img {
    width: 6rem;
    height: 4rem;
    margin-right: 30px;
  }
  
  .opciones .contenido:hover {
    background: #fff;
  }
  
  .opciones .contenido:hover .titulo{
    color: #343a40;
  }
  
  @media screen and (max-width: 767.9px){
    .select {
      width: 92%;
    }
  }
  @media screen and (max-width: 496px){
    .select {
      width: 88%;
    }
    .select h1{
      font-size: 1rem;
    }
  }