<div class="jumbotron mt-5 bg-dark">
    <h2 class="heading text-light">
        Filtra noticias por categoria
    </h2>
    <div class="box">
        <div class="search-box">
            <form (ngSubmit)="buscarNoticiaPorCategoria()">
                <div class="form-group">
                  <div class="form-select form-select-lg">
                    <div class="select" #select (click)="toggleSelect()">
                      <div class="contenido">
                        <img *ngIf="categoriaSeleccionada" [src]="categoriaSeleccionada.img" alt="">
                        <h1 class="titulo">{{categoriaSeleccionada ? categoriaSeleccionada.nombre : 'Selecciona categoria'}}</h1>
                      </div>
                      <i class="fas fa-angle-down"></i>
                    </div>
        
                    <div class="opciones" #opciones [class.active]="opcionesAbiertas">
                      <a class="opcion" *ngFor="let categoria of categorias" (click)="selectCategory(categoria)">
                        <div class="contenido">
                          <img [src]="categoria.img" alt="">
                          <h1 class="titulo">{{categoria.nombre}}</h1>
                        </div>
                      </a>
                    </div>
                  </div>
        
                  <input type="hidden" name="pais" id="inputSelect" [(ngModel)]="categoriaSeleccionada" value="">
                </div>
                <button class="boton bg-dark" type="submit">
                  <img src="/assets/noticias-word-icon.png" alt="Buscar">
                </button>
              </form>
        </div>
    </div>
</div>