<div class="jumbotron mt-5 bg-dark">
    <h2 class="heading text-light">
        Filtra noticias por categoria
    </h2>
    <div class="box">
        <div class="search-box">
            <form (ngSubmit)="buscarNoticiaPorCategoria()">
                <div class="form-group">
                    <select class="form-select form-select-lg" name="categoria" [(ngModel)]="categoriaSeleccionada">
                      <option *ngFor="let categoria of categorias" [value]="categoria.value">
                        <div class="icon"></div>
                        {{categoria.nombre}}
                    </option>
                    </select>
                  </div>
                  <button class="boton bg-dark" type="submit">
                    <img src="/assets/noticias-word-icon.png" alt="Buscar">
                  </button>
            </form>
            
        </div>
    </div>
</div>