<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4" style="align-items: center; margin-bottom: 8;">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <img src="assets/facebook-app-symbol.png" alt="Facebook" style="margin-bottom: 4px;">
      </a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <img src="assets/twitter.png" alt="Twitter" style="margin-bottom: 4px;">
      </a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <img src="assets/instagram.png" alt="Instagram" style="margin-bottom: 4px;">
      </a>

      <!-- Linkedin -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <img src="assets/linkedin.png" alt="Linkedin" style="margin-bottom: 4px;">
      </a>

    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form #form="ngForm" (ngSubmit)="subscribe(form)">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Suscribirse al newsletter</strong>
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-5 col-12 border border-white rounded p-3 d-flex align-items-center" style="height: 52px">
            <input type="email" name="email" [(ngModel)]="email" class="form-control mb-2 text-center" style="height: 30px; margin-top: 6.5px;" placeholder="Ingrese su mail" required>
          </div>
    
          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
              Suscribirse
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Bienvenido a NOTICIAS WORD, el buscador de noticias más grande de Argentina, donde podra informarse sobre lo que pasa en el mundo.
      </p>
    </section>

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row justify-content-center">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white" href="#" routerLink="/favoritas">Favoritas</a>
            </li>
            <li>
              <a class="text-white" href="#" routerLink="/contacto">Contacto</a>
            </li>
            <li>
              <a class="text-white" href="#" routerLink="/nosotros">Nosotros</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Buscar por</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white" href="#" routerLink="/categoria">Categoria</a>
            </li>
            <li>
              <a class="text-white" href="#" routerLink="/pais">Pais</a>
            </li>
            <li>
              <a class="text-white" href="#" routerLink="/fuente">Fuente</a>
            </li>
            <li>
              <a class="text-white" href="#" routerLink="/fecha">Fecha</a>
            </li>
            <li>
              <a class="text-white" href="#" routerLink="/palabra_clave">Palabra clave</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white">noticiasword.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
